MySQL-python==1.2.4b3
DateUtils
Django==1.5
django-subdomains=2.0
PIL==1.1.7
battlenet==0.2.6
django-extensions==0.9
gunicorn==0.14.6
python-dateutil==2.1
pytz==2012f
six==1.2.0
wsgiref==0.1.2
south
requests
