h1
{
	color:#3355BB;
	font-size:14pt;
}

h2
{
	color:#3355BB;
	font-size:18pt;
}

h3
{
	color:#3355BB;
	font-size:12pt;
}

.box
{
	padding:10px;
	border:2.5px solid gray;
	margin:10px;
	float:left;
	-moz-border-radius: 15px;
	border-radius: 15px;
	background-color:white
}

#Homepage_Info
{
	width:15%;
}

#w
{

	width:35%;
	float:left;
}