{%extends "base.html"%}
{% load dict %}
{% block body %}
    </br>
    <center><h2>About Space Goats CoastToCoast</h2></center>
    
    <p>We are an Aliance guild on US Auchindoun started by a small group of friends. 
        </br>
        Here's some junk about us:
        <ul>
            <li>Leader: <a href="http://us.battle.net/wow/en/character/auchindoun/{{guild.get_leader}}/simple"> {{guild.get_leader}}</a></li>
            <li>Level: {{guild.level}}</li>
            <li>Total Achievement Points: {{guild.achievement_points}}</li>
            <li><a href="http://us.battle.net/wow/en/guild/auchindoun/Space_Goats_CoastToCoast/">Read about us on Battlenet!</a>

            </li>
            
        </ul>
    </p>
    
{%endblock%}
