{% extends "base.html" %}
{% load dict %}
{% block body %}
</br>
<center><h2>You are looking an archived article.<h2><center>
{%endblock%}
{% block articles %}
    <div class="article">

        <a href= "{% url article article.id %}">
            <center><h2>{{article.title}}</h2></center>
        </a>
        <a href="{{ article.img.url }}" class="article_image">
            <img src="{{article.img.url}}" />
        </a>
        <p>By {{article.author}}</p>
        <p>{{article.text|safe}}</p>
    </div> <!-- article -->

    <div class = "comments">
        <!-- START: Livefyre Embed -->
        <script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
        <script type='text/javascript'>
            var fyre = LF({
                site_id: 313192
            });
        </script>
        <!-- END: Livefyre Embed -->               
    </div> <!-- comments -->
{% endblock %}
