{%extends "base.html"%}
{% load dict %}
{% block articles %}

<div class = 'article'>
    </br><center><h2>{{event.name}}</h2></center>

    <p>
   Begins: {{event.begin}}</br>

    </p>

    <p>
        {%if not attendees%}
            This event has no one attending.
        {%else%}
            The following characters are attending this event:
            <ul id="event_signup">
            {%for char in attendees%}
                <li><img src="{{char.role.img.url}}"/><a href="http://us.battle.net/wow/en/character/{{char.character.server}}/{{char.character.name}}/simple"><span class="{{char.character.class_name}}">{{char.character}}</span></a>
                    {{char.character.bnet.get_class_name}}
                    {% if user.is_authenticated and  char.character.player = user %}
                        <li>
                        &nbsp  &nbsp &nbsp &nbsp  <a href="/demo/remove_attendance/{{char.id}}">Remove</a>
                        </li>
                    {%endif%}
                </li>
            {%endfor%}
            </ul>
        {%endif%}
        {{attendees.count}} total players. 
        </br>
        {% for c in num.keys %} 
            {{num|key:c}} 
        {{c}}{%endfor%}. <!--I know the indent looks bad, but it wil add an extra space on the  webpage otherwise--->
    </p>

    <div>
 
   <p>
        {% if user.is_authenticated %}
            <input type="button" value="+ Sign up for this event" onClick="showPos(event,'signUpForm')" />
        {%else%}
            Log in to sign up for this event!
        {%endif%}
    </p>
    </div>
    
    <div class = "comments">
        <!-- START: Livefyre Embed -->
        <script type='text/javascript' src='http://zor.livefyre.com/wjs/v1.0/javascripts/livefyre_init.js'></script>
        <script type='text/javascript'>
            var fyre = LF({
                site_id: 312416
            });
        </script>
        <!-- END: Livefyre Embed -->               
    </div> <!-- comments -->

    {% if user.is_authenticated %}
        <div  id="signUpForm" style='display: none; position: absolute; left: 300px; top: 50px; z-index:10;'; class= 'pop_up'>
        <h1>Join Event<h1>
            <form action="" method="post">{% csrf_token %}
            {{at_form.as_p}}
            <p><input type="submit" value="Submit" />
            <input type="button" value="Cancel" onClick="document.getElementById('signUpForm').style.display = 'none'" /></p>
            </form>
        </div>
    {%endif%}

</div>
{%endblock%}
