{% extends "base.html" %}
{% load dict %}
{% block articles %}<!--make body for old site-->
        <div class="article">
            <form enctype="multipart/form-data" action="{% url "save_gow" %}" method="post">{% csrf_token %}
                {{ g_o_w_form.non_field_errors }}
                <div class="fieldWrapper">
                    {{ g_o_w_form.name.errors }}
                    <label for="id_subject">Goat:</label>
                    {{ g_o_w_form.name }}
                </div>
                </br>
                <div class="fieldWrapper">
                    {{ g_o_w_form.img.errors }}
                    <label for="id_subject">Picture:</label>
                    {{ g_o_w_form.img }}
                </div>
                </br>
                <div class="fieldWrapper">
                    {{ g_o_w_form.desc.errors }}
                    <label for="id_subject">Why:</label>
                    {{ g_o_w_form.desc }}
                </div>
                </br>
                <input type="submit" value="Submit" />
            </form>
    </div>
{% endblock %}
