{% extends "base.html" %}
{% load article_tag %}
{% block articles %}
    {% for article in articles %}
    <div class="article">
        <a href= "{% url article article.id %}">
            <center><h2>{{article.title}}</h2></center>
        </a>
        <img src="{{article.img.url_128x128}}"/>
        <p>{{article.text|safe|article_cut}}</p>
        <p><a href="{% url article article.id %}">Read Full Article</a></p>        
    </div> <!-- article -->
    {% endfor %}
    <a href="{% url archive %}">View Older Articles</a>

{% endblock %}
