{%extends "mockup.html"%}
{% block articles%}
    {% for article in articles %}
    <div class="article">
        <a href= "/demo/article/{{article.id}}">
            <center><h2>{{article.title}}</h2></center>
        </a>
        <img src="{{article.img.url_128x128}}"/>
        <p>{{article.text|safe|slice:"600"}}</p>
        <p><a href="/demo/article/{{article.id}}">Read Full Article</a></p>        
    </div> <!-- article -->
    {% endfor %}
    <a href="/demo/archive">View Older Articles</a>

{%endblock%}

{% block events %}

<!-- Timer from http://www.hashemian.com/tools/javascript-countdown.htm-->
<p>
<b>{{e0.name}}</b> starts in </br>
<script language="JavaScript">
TargetDate = "{{e0.begin|date:'m/d/Y '}} 7:00 PM"
BackColor = "#D1C2B2";
ForeColor = "navy";
CountActive = true;
CountStepper = -1;
LeadingZero = true;
DisplayFormat = " %%D%% Days, %%H%% Hours, %%M%% Minutes, %%S%% Seconds. ";
FinishMessage = "GET LOGGED IN NOW!";
</script>
<script language="JavaScript" src="{{STATIC_URL}}countdown.js"></script>

(begins on {{e0.begin|date:"D d M" }})
</br>&nbsp &nbsp &nbsp &nbsp
<a href=''>Sign up for this event</a>
</p>




<table>
    {%for e in upcoming_events%} 
    <tr><td><a href='/demo/event/{{e.id}}'>{{e.name}}</a></td>
        <td>
        {%if e.id == 5 %}<img src="{{STATIC_URL}}attending.png" alt="attending"/>
        {%else%}<img src="{{STATIC_URL}}not_attending.png" alt="not attending"/>
        {%endif%}
        </td>
    </tr>
    {%endfor%} 
</table>

{% endblock %}
