{%extends "base.html"%}
{%block myhead%}
<script type="text/javascript">

    $(document).ready(function() {

        //initialize the calendar, full calander is an opensource project from http://arshaw.com/fullcalendar/
            $('#calendar').fullCalendar({
                aspectRatio: 1,
                dayClick: function(date) {
                    d = $.fullCalendar.formatDate( date, "yyyy-MM-dd" );
                    $("#id_begin_date").val(d);
                    
                    showPos(event, 'newEventForm');
                },
                
                eventClick: function(calEvent) {
                    window.location = calEvent.url;
                }
        });
        
        //reload events if month changes
        $('.fc-button-next').click(function(){
            loadEvents();
        });
        $('.fc-button-prev').click(function(){
            loadEvents();
        });
        

        
        //load events on page load
        loadEvents();
        
        //initialize the datepicker (from Jquery UI at http://jqueryui.com/home)
        $(".datepicker").datepicker({ dateFormat: "yy-mm-dd" });

        //Show box if errors--not working
        {% if event_form.name.errors.all %}
            showPos(event,'newEventForm');
        {% endif %}
    });

    function loadEvents(){
        $.getJSON('/demo/ajax/events.json', function(data){
            $.each(data, function(key, value){
                $('#calendar').fullCalendar(
                    'renderEvent',
                    event={
                        url:"/demo/event/"+ value.pk,
                        title:value.fields.name,
                        start:value.fields.begin,
                        
                    }
                );
            });
        
        });

    };
</script>
{%endblock%}

{% block body %}
    <div id="cal">
        <div id="calendar"></div>
    </div>

    <div id="newEventForm" class="box">
        <center>
            <h1>Create New Event</h1>
            <br/>
            <form action="/demo/" method="post">{% csrf_token %}
                <div  class="fieldWrapper">
                    {{event_form.name.errors}}
                    <p><label for="id_name">Name of the new event</label>
                    <input type="text" name="name" id="id_name"/></p>
                </div>
                <br/>
                <div  class="fieldWrapper">
                    {{event_form.begin.errors}}
                    <p>
                        <label for="id_begin_date">When does the event start?</label>
                        <input type="text" name="begin_date" id="id_begin_date" class="datepicker" />
                    </p>
                </div>
                <br/>
                <p>
                    <input type="submit" value="Submit" />
                    <input type="button" value="Cancel" 
                        onClick="document.getElementById('newEventForm').style.display = 'none'" />
                </p>
            </form>
        </center>
    </div>
{% endblock %}
{% block articles%}
    {%for i in latest_articles %}
        <br/>
        <div class="article box">
            <center><h2>{{i.title}}</h2></center>
            {{i.text|safe}}
        </div>
        <br/>
    {%endfor%}
{% endblock %}
