<!DOCTYPE html>
<html>
<head>
    <title>Space Goats CoastToCoast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/reset.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/text.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}960/960.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}mockup.css" />

    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}fullcalendar.css' />
    <link rel='stylesheet' type='text/css' href='{{STATIC_URL}}jquery-ui-1.8.22.custom/css/redmond/jquery-ui-1.8.22.custom.css' />

    <script type='text/javascript' src='{{STATIC_URL}}jquery.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}fullcalendar.js'></script>
    <script type='text/javascript' src='{{STATIC_URL}}jquery-ui-1.8.22.custom/js/jquery-ui-1.8.22.custom.min.js'></script>

</head>

<body>
    <div id="container" class="container_12">
        <div id="nav" class="grid_2">
            <ul>
                <li>About</li>
                <li>Forum</li>
                <li>Roster</li>
                <li>Login</li>
            </ul>
        </div>
        <div id="logo" class="grid_10">
            <p>Logo</p>
        </div>
        <div class="clear"></div>

        <div id="articles" class="grid_8">
            <div class="article">
                <p>An Article Here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum ante. Donec nulla nunc, consectetur ac cursus id, bibendum sit amet odio. Curabitur a neque et magna tincidunt sodales. Cras tincidunt scelerisque est, non facilisis lorem sagittis et. Quisque dapibus volutpat dui, quis porta libero congue nec. Vestibulum vitae est fermentum quam varius gravida. Duis scelerisque congue tellus quis facilisis. Pellentesque interdum, mi eu porta adipiscing, tortor turpis aliquet nisl, eu pulvinar nibh enim non velit. Sed nisi mi, iaculis in faucibus non, feugiat ac sapien. Donec convallis lobortis sapien, convallis blandit nulla egestas a. Aenean at erat sed elit sagittis congue quis tristique eros. Duis ipsum urna, tempor id luctus vitae, interdum eget lectus.</p>
                <p>Vestibulum dictum lectus id risus scelerisque in placerat erat vestibulum. Integer dignissim, nisl in tincidunt laoreet, dolor nibh pharetra purus, vitae ornare quam diam et nisi. Curabitur convallis tortor at quam euismod in ornare ligula blandit. In vel sapien dictum elit iaculis dapibus sed sit amet eros. Nulla arcu ante, posuere quis tempus id, cursus eu magna. Vestibulum vel mi sit amet nulla vestibulum feugiat. Nulla facilisi. Maecenas ut sapien nec augue vestibulum pellentesque. Praesent tincidunt metus ut ipsum fringilla ornare. Phasellus luctus mi eros. Mauris tincidunt pretium turpis, sed adipiscing justo aliquet adipiscing. Suspendisse fermentum libero sit amet sem consectetur posuere. Proin eget accumsan orci. Suspendisse est eros, consectetur nec lobortis a, facilisis aliquet est. Praesent sed nulla dui, vitae tincidunt dui.</p>
            </div>
            <div class="article">
                <p>An Article Here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum ante. Donec nulla nunc, consectetur ac cursus id, bibendum sit amet odio. Curabitur a neque et magna tincidunt sodales. Cras tincidunt scelerisque est, non facilisis lorem sagittis et. Quisque dapibus volutpat dui, quis porta libero congue nec. Vestibulum vitae est fermentum quam varius gravida. Duis scelerisque congue tellus quis facilisis. Pellentesque interdum, mi eu porta adipiscing, tortor turpis aliquet nisl, eu pulvinar nibh enim non velit. Sed nisi mi, iaculis in faucibus non, feugiat ac sapien. Donec convallis lobortis sapien, convallis blandit nulla egestas a. Aenean at erat sed elit sagittis congue quis tristique eros. Duis ipsum urna, tempor id luctus vitae, interdum eget lectus.</p>
                <p>Vestibulum dictum lectus id risus scelerisque in placerat erat vestibulum. Integer dignissim, nisl in tincidunt laoreet, dolor nibh pharetra purus, vitae ornare quam diam et nisi. Curabitur convallis tortor at quam euismod in ornare ligula blandit. In vel sapien dictum elit iaculis dapibus sed sit amet eros. Nulla arcu ante, posuere quis tempus id, cursus eu magna. Vestibulum vel mi sit amet nulla vestibulum feugiat. Nulla facilisi. Maecenas ut sapien nec augue vestibulum pellentesque. Praesent tincidunt metus ut ipsum fringilla ornare. Phasellus luctus mi eros. Mauris tincidunt pretium turpis, sed adipiscing justo aliquet adipiscing. Suspendisse fermentum libero sit amet sem consectetur posuere. Proin eget accumsan orci. Suspendisse est eros, consectetur nec lobortis a, facilisis aliquet est. Praesent sed nulla dui, vitae tincidunt dui.</p>
            </div>
            <div class="article">
                <p>An Article Here</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec ipsum ante. Donec nulla nunc, consectetur ac cursus id, bibendum sit amet odio. Curabitur a neque et magna tincidunt sodales. Cras tincidunt scelerisque est, non facilisis lorem sagittis et. Quisque dapibus volutpat dui, quis porta libero congue nec. Vestibulum vitae est fermentum quam varius gravida. Duis scelerisque congue tellus quis facilisis. Pellentesque interdum, mi eu porta adipiscing, tortor turpis aliquet nisl, eu pulvinar nibh enim non velit. Sed nisi mi, iaculis in faucibus non, feugiat ac sapien. Donec convallis lobortis sapien, convallis blandit nulla egestas a. Aenean at erat sed elit sagittis congue quis tristique eros. Duis ipsum urna, tempor id luctus vitae, interdum eget lectus.</p>
                <p>Vestibulum dictum lectus id risus scelerisque in placerat erat vestibulum. Integer dignissim, nisl in tincidunt laoreet, dolor nibh pharetra purus, vitae ornare quam diam et nisi. Curabitur convallis tortor at quam euismod in ornare ligula blandit. In vel sapien dictum elit iaculis dapibus sed sit amet eros. Nulla arcu ante, posuere quis tempus id, cursus eu magna. Vestibulum vel mi sit amet nulla vestibulum feugiat. Nulla facilisi. Maecenas ut sapien nec augue vestibulum pellentesque. Praesent tincidunt metus ut ipsum fringilla ornare. Phasellus luctus mi eros. Mauris tincidunt pretium turpis, sed adipiscing justo aliquet adipiscing. Suspendisse fermentum libero sit amet sem consectetur posuere. Proin eget accumsan orci. Suspendisse est eros, consectetur nec lobortis a, facilisis aliquet est. Praesent sed nulla dui, vitae tincidunt dui.</p>
            </div>
        </div>
        <div id="sidebar" class="grid_4">
            <div id="events">
                <p>Event stuff here</p>
            </div>
            <div id="goat_of_the_week">
                <p>Goat of the Week</p>
                <img src="/static/JDBaF.png"/>
            </div>
            <div id="roster">
                <p>Roster and stuff</p>
            </div>
        </div>
        <div class="clear"></div>

        <div id="footer" class="grid_12">
            <p>footer here?</p>
        </div>


    </div> <!-- container -->





</body>
</html>
