{% extends "base.html" %}
{% load dict %}
   
{% block articles %}<!-- make block body out for old site-->
<div class= 'article' ><!-- take out for old site-->
    <center><h2>About Space Goats CoastToCoast</h2></center>
    
    <p>Space Goats CoastToCoast is an Alliance World of Warcraft guild on US Whisperwind started by a small group of friends. Thanks for checking out our site!
       We are not openly recruiting, but you can always talk to one of our members about future openings or PUG with us on days when we have a guildee out.</p>
    </br>
    <b>General Guild Info:</b>
    <ul>
        <!-- Battlenet API is not updated for MOP, when updated please re-add {'sthe link-->
        <!--<li>Leader: <a href="http://us.battle.net/wow/en/character/auchindoun/guild.get_leader/simple"> guild.get_leader</a></li>-->
        <li>Leader: <a href="http://us.battle.net/wow/en/character/Whisperwind/Thenmal/simple"> Thenmal</a></li>
        <li>Level: {{guild.level}}</li>
        <li>Total Characters: {{guild.members|length}}</li>
        <li>Total Achievement Points: {{guild.achievement_points}}</li>
        <li><a href="http://us.battle.net/wow/en/guild/Whisperwind/Space_Goats_CoastToCoast/">Read more about us on Battlenet!</a></li>
    </ul>
    
    </br>
    <b>Guild History:</b>
    <p>Many of our members returned to the game in late Cataclysm. We joined Auchindoun to play with a friend there, and joined the guild he was in, Open Ticket. A large guild of over 500 characters, Open Ticket
        was very welcoming, but its size made it difficult to get spots in raids and to get to know people. After playing for a while we decided we really wanted to be our own group. We bought an existing guild whose members had left for SWTOR and transfered it over to the Alliance.
        And so, Space Goats CoastToCoast came to be.</p>
    <img src="{{STATIC_URL}}space_goat!.png"/>
    <p class = "note">We do not own or claim to own any show with a similar name to our guild</p>
    </br>
    <b>Current Guild Activity:</b>
    <p>With the launch of MOP we are currently getting our members leveled and geared for the new content! Our current raid time is Monday at 7:30PM CST and we have a ten man group getting ready. 
    Many of our members are also expressing interest in the new Challenge Mode Dungeons. We are currently running these on an ad hoc basis. Once more guildees are leveled we may consider having dedicated groups 
    or dedicated nights. You can check what events are currently scheduled on our homepage!</p>

    <b>Guild Website:</b>
    </br>
    <p>Our website was developed with Django by 3 of our guildees. Launched in late 2012 it allows article publishing and event signup to registered members. </p>
    <img src="{{STATIC_URL}}mini_django.png" alt= "Django Pony"/>
    <p class = "note" >Django Pony from <a href="http://djangopony.com/"/>http://djangopony.com/</a>  for more info on Django visit <a href="https://www.djangoproject.com"/>https://www.djangoproject.com</a></p>
</div><!-- take out for old site-->
{% endblock %}
