h1
{
    color:#3355BB;
    font-size:14pt;
}

h2
{
    color:#3355BB;
    font-size:18pt;
}

h3
{
    color:#3355BB;
    font-size:12pt;
}

body {
    background-color:#FFFFBB;
} 
a {
    text-decoration: none;
}

ul {
    margin: 0;
}
li {
    margin: 0;
}

.box
{
    padding:10px;
    border:1.5px solid gray;
    float:left;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:white;
}

#container {
    border: 1px solid black;
}

#logo {
    text-align: center;

    margin: 10px;
}


.menu {
    text-align: center;
    list-style: none;
}
.menu li {
    display: inline;
}


#menu_first{
}

#menu_last{
}

.menu_item{
    margin-left: 0;
    display: inline-block;

    text-align:center;
    border:1px solid gray;
    background-color: #DDDDDD;
    min-width:156px;
    width: 40px;
}

/*
.article{
    margin-left:20%;
    margin-right:20%;
    padding-left:8%;
    padding-right:8%;
}

.goats{
    width:15%
}


#the_big_div{
    margin-left:20%;
    margin-right:20%;
    padding:10px;
    padding-left:8%;
    padding-right:8%;
    padding-top: 40px;
    padding-bottom: 20px;

    border:1.5px solid gray;
    float:center;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-color:white;
    min-width:640px;
}
*/

#cal
{
    margin-left:15%;
    margin-right:15%;
    width:550px;
}


#newEventForm {
    display: none; 
    position: absolute; 
    left: 300px; 
    top: 50px; 
    z-index:10;
}

