/* #container { */
/*     border: 1px solid black; */
/* } */

.grid_1, .grid_2, .grid_3, .grid_4, .grid_5,
.grid_6, .grid_7, .grid_8, .grid_9, .grid_10,
.grid_11, .grid_12 {
    background-color: F5F0EB;
}


/******************* real stuff ********************/

ul {
    list-style: none;
}
li {
    margin: 0;
}



#nav, #logo {
    height: 100px;
    /*background-color: #cfe2f3;*/

}

#articles {
    min-height: 800px;
}
#sidebar {
    min-height: 800px;
}
#footer {
   /* background-color: #f3cfcf;*/
}

#events {
    height: 350px;
    /*background-color: #bfe7c4;*/
    
}
#goat_of_the_week {
    height: 200px;
    /*background-color: #f9bfef;*/
}
#roster {
    height: 500px;
    /*background-color: #cfe2f3;*/

}
#roster,#goat_of_the_week, #events
{
    padding-left:10px;
    border-width:3px;
    border-color:#000024;
    border-left-style:dotted;
}
#nav, #logo, #events, #goat_of_the_week
{
    border-width:3px;
    border-color:#000024;
    border-bottom-style:dotted;
}

.article {
    min-height: 200px;
    border-width:3px;
    border-color:#000024;
    border-bottom-style:dotted;
    /*background-color: #F5F0EB;*/
   
}

.pop_up {
    border-style:dotted;
    border-width:3px;
    border-color:#000024;
    background-color:#F5F0EB;
    padding:10px;
}

.article_image img {
    max-width: 640px;
}

body {
    background-color:#F5F0EB;
    
} 
p{
    color:#000024;
}

h2, a:link, a:visited{

    color:#000024;
}

h2{
    font-size:1.5em;
}

/*------ Class Colors ---------*/
#roster a{
    text-decoration:none;
}
#event_signup a{
    text-decoration:none;
}

.Death {
    color:#C41F3B;
}
.Druid{
    color:#FF7D0A;
}
.Hunter{
    color:#ABD473;
}
.Mage{
    color:#69CCF0;
}
.Monk{
    color:#558A84;
}
.Paladin{
    color:#F58CBA;
}
.Priest{
    color:#FFFFFF;
}
.Rogue{
    color:#FFF569;
}
.Shaman{
    color:#0070DE;
}
.Warlock{
    color:#9482C9;
}
.Warrior{
    color:#C79C6E;
}
